{% trans_default_domain "StevDataDogAuditReader" %}

{% include 'StevDataDogAuditGUIBundle:Audit:_entityTable.html.twig' with {'entries':entries} %}

{% if assocs | length > 0 %}
    {% for assocName, assocDiffs in assocs %}        
        <hr/>
        <strong>{{assocName | capitalize}}</strong><br/>
        {% for objName,objDiffs in assocDiffs %}
            <strong>{{objName | capitalize}}</strong><br/>

            {% include 'StevDataDogAuditGUIBundle:Audit:_entityTable.html.twig' with {'entries':objDiffs} %}

            {#<table id="" class="table table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'date' | trans | desc('Date')}}</th>
                        <th>{{ 'action' | trans | desc('Action')}}</th>
                        <th>{{ 'changes' | trans | desc('Changes') }}</th>
                        <th>{{ 'user' | trans | desc('User') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in objDiffs %}
                        {% for key,modification in entry.diff %}
                            {% if modification.old !=  modification.new%}
                                <tr class="">
                                    <td>
                                        {{ entry.loggedAt  |date('d-m-Y H:i:s T', app.user.timezone|default('UTC')) }}<br/>
                                    </td>
                                    <td>
                                        {{ entry.action }}
                                    </td>
                                    <td>
                                        {% if fieldMappings[key]['options'] is defined and fieldMappings[key]['options']['comment']  is defined%}
                                            <b>{{ fieldMappings[key]['options']['comment']}}</b> :
                                        {% else %}
                                            <b>{{ key}}</b> :
                                        {% endif%}

                                        {% if modification.old is iterable %}
                                            to <span class="" data-url='{{path('audit_entity_logs')}}' data-fk='{{modification.old['fk']}}' data-tbl='{{modification.old['tbl']}}' data-entity='{{modification.old['class']}}'>{{ modification.old['label'] }}</span>
                                        {% else %}
                                            From <span class="">{{ modification.old  | default("-") }}</span>
                                        {% endif %}
                                        {% if modification.new is iterable %}
                                            to <span class="" data-url='{{path('audit_entity_logs')}}' data-fk='{{modification.new['fk']}}' data-tbl='{{modification.new['tbl']}}' data-entity='{{modification.new['class']}}'>{{ modification.new['label'] }}</span>
                                        {% else %}
                                            to <span class="">{{ modification.new | default("-") }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ entry.user }}
                                    </td>
                                </tr>
                            {% endif %}

                        {% endfor %}
                    {% endfor %}
                    </tr>
                </tbody>
            </table>#}
        {% endfor %}
    {% endfor %}
{% endif %}